section {
  height: 100vh; /* occupa tutta l'altezza della pagina */
  display: flex;
}

.fav-title {
  font-size: 7rem; /* grandezza aumentata */
  font-weight: 900; /* massimo peso */
  line-height: 0.95;
  color: #271d66;
  text-shadow:
    1px 0 #271d66,
    -1px 0 #271d66,
    0 1px #271d66,
    0 -1px #271d66,
    1px 1px #271d66,
    -1px -1px #271d66; /* effetto “più spesso” */
  
  display: flex;           /* abilita Flexbox */
  justify-content: center; /* centra orizzontalmente */
  align-items: center;     /* centra verticalmente */
  
  height: 100%; /* oppure l’altezza del div contenitore */
  width: 100%;  /* occupa tutta la larghezza */
  margin: 0;    /* rimuove margini precedenti */
  padding: 0;   /* rimuove padding precedenti */
}

.divider {
  width: 10px;
  height: 90vh;          /* ← questa è la chiave */
  background-color: #4465ad;
  border-radius: 999px;  /* super smussato */
  margin: auto 0;        /* centra verticalmente */
  flex-shrink: 0;        /* evita che flex lo schiacci */
}