#Logic
pydantic
python-multipart
pydantic[email]
psycopg2-binary
python-dotenv
argon2-cffi

#Apis
FastAPI
uvicorn

#DB
SQLAlchemy

#Injection
dependency_injector

#Testing
pytest
pytest-asyncio

#Migration
alembic

#Docs
sphinx
sphinx-autobuild
