#Logic
pydantic
python-multipart
pydantic[email]
psycopg2-binary
python-dotenv
argon2-cffi
cryptography

#Apis
FastAPI
uvicorn
httpx

#SQL DB
SQLAlchemy

#NoSQL DB
beanie

#Injection
dependency_injector

#Testing
pytest
pytest-asyncio

#Migration SQL
alembic

#Docs
sphinx
sphinx-autobuild

motor

#Keycloak
jose