.sidebar {
  height: 90vh;
  width: 8rem;
  background-color: #4465ad;
  border-radius: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5rem 0;
  gap: 2.25rem;
  margin-left: 2.5rem;
  margin-top: auto;
  margin-bottom: auto;
}

.logo-link {
  margin-bottom: 1rem;
  display: inline-block;
}

.logo-container {
  width: 6rem;
  height: 9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.5rem;
}

.logo-container:hover {
  background-color: #4e6cac;
}

.logo-inner {
  width: 6.5rem;
  height: 7.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.icon-button {
  width: 5.5rem;
  height: 5.5rem;
  background-color: white;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.icon-button:hover {
  background-color: #e7e7e7;
}

.icon {
  width: 2.5rem;
  height: 2.5rem;
  color: #271d66;
}

.menu-button-container {
  position: relative;
  width: 5.5rem;
  height: 5.5rem;
}

.menu-button {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s;
  position: relative;
}

.menu-button:hover {
  background-color: #e7e7e7;
}

.menu-arrow {
  position: absolute;
  top: 50%;
  right: -2.4rem;
  transform: translateY(-50%);
  width: 3.75rem;
  height: 3rem;
  background-color: white;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, color 0.3s;
}

.menu-button:hover .menu-arrow {
  background-color: #e7e7e7;
}

.menu-arrow .arrow-icon {
  color: #271d66;
  transition: color 0.3s;
}

.menu-button:hover .arrow-icon {
  color: #1f164d;
}

.dropdown-menu {
  position: absolute;
  top: 50%;
  left: 8rem;
  transform: translateY(-50%);
  border-radius: 1.25rem;
  box-shadow: 0 8px 16px rgba(0,0,0,0.25);
  padding: 1.25rem;
  min-width: 13.5rem;
  background-color: white;
  border: 6px solid #4465ad;
}

.dropdown-link {
  display: block;
  background-color: #4465ad;
  color: white;
  border-radius: 1rem;
  padding: 1rem;
  text-decoration: none;
}

.dropdown-link + .dropdown-link {
  margin-top: 1rem;
}
